body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  /* Other styles for the body */
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333333;
  margin-top: 10px;
}

p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.introduction,
.section-1,
.section-2,
.third-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}
